<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Delivery Api</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
        <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    </head>
    <body>
        <section class="section">
            <div class="container">
              <h1 class="title">
                Delivery API for Python
              </h1>
              <p class="subtitle" style="padding-left:6.2em;text-indent:-1.5em;">
                Developed by <a href="https://github.com/zeroday0619">zeroday0619</a>
              </p>
              <hr>
            </div>
        </section>
        <div class="container">
            <a href="#">API 서버 준비중..... ..... ..... ..... ...</a>
            <br>
            <p class="subtitle"><strong>실시간 배송조회 API</strong> : Delivery Api for Python<br>
                다양한 국내 / 국제 택배 배송 정보 조회를 API로 제공합니다.<br>
                지원 하는 택배사는 DHL, CJ Logistics (CJ 대한통운)이며 앞으로 더 많은 업체에 대한 조회 서비스를 제공 할 예정입니다.
            </p>
            <p class="subtitle"><strong>API 문의</strong><br>
            >> Github Issue<br>
            >> Email: zeroday0619@zeroday0619.kr
            </p>
            <section class="hero is-medium is-primary is-bold">
                <div class="hero-body">
                    <div class="container">
                        <h3 class="title">API Documentation</h3>
                        <p class="subtitle"><a href="https://github.com/zeroday0619/deliveryAPI/blob/master/README.md">>> VIEW DOCUMENTS</a></p>
                    </div>
                </div>
            </section>
        </div>
        <hr>
        <a href="https://github.com/zeroday0619/deliveryAPI">Github Repo</a>
    </body>
</html>